@import "./bootstrap";
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.top-navbar {
  background-color: #979595;
  p {
    font-family: "Roboto", "Helvetica Neue";
  }
}
.calander img {
  width: 100%;
  height: auto !important;
  max-width: fit-content;
  position: absolute;
}
.sign-in img {
    width: 100%;
    height: auto !important;
    max-width: 20px;
    margin: 4px 10px 16px 10px;
}
.navbar {
  font-family: "Roboto", "Helvetica Neue";
  background-color: #102039;
  a.nav-link {
    color: #ffffff !important;
    font-size: 14px;
    font-weight: 700;
  }
}

.navbar-toggler-icon {
  align-items: center;
  margin-top: 10px;
}
.nav-item a {
  justify-content: center;
  text-align: center;
  transition: color 5s ease-in-out;
}

.nav-item a:hover {
  color: rgb(237, 235, 243);
  text-shadow: 0 0 25px rgb(234, 235, 241), 0 0 50px orangered;
  transform: scale(1.2);
  border-bottom: 1px solid rgb(255, 255, 255);
}

.navbar-toggler {
  border: var(--bs-border-width) solid rgb(255 255 255);
}
.fa-magnifying-glass {
  font-size: 28px !important;
  font-weight: 900;
}

.man-img {
  position: relative !important;
  height: auto;

  p {
    position: absolute;
    top: 0;
    padding: 10px 20px;
    background-color: white !important;
    border-right: 2px solid transparent;
    border-bottom-right-radius: 15px;
    font-weight: 800;
    margin-top: 0;
  }
}
.beach img {
  width: 100%;
  max-width: auto;
  height: 100%;
}
.featured-video {
  background-color: #102039;
}

.img-sign img {
  width: 100%;
  max-width: 350px;
  height: auto;
}
.footer-links {
  background-color: #102039;
}
.footer {
  background-color: #979595;
}
.img-mv img {
  width: 100%;
  max-width: 560;
  height: auto;
}

@media screen and (max-width: 768px) {
  form Subscribe {
    width: 100%;
    display: block !important;
    max-width: 530px;
    margin-top: 10px;
  }


.fa-instagram {
  transition: color 5s ease-in;
}
.fa-instagram:hover {
  transform: rotateY(360deg);
}
form input {
  border-radius: 0 !important;
}
form subscribe {
  border-radius: 0 !important;
}
.search-icon i{
    justify-content: center;

}
}